cat my_styles.scss
/* My style */
body {
    .container {
        color: #3D3D3D;
    }
}
.julien {
  background-image: url('julien.jpg');
}

.john {
  background-image: url('john.jpg');
}

.sam {
  background-image: url('sam.jpg');
}

.damian {
  background-image: url('damian.jpg');
}
