cat my_styles.scss
/* My style */
body {
    .container {
        color: #3D3D3D;
    }
}
.john {
  background-image: url('john.jpg');
}

.jane {
  background-image: url('jane.jpg');
}

.bob {
  background-image: url('bob.jpg');
}

.alice {
  background-image: url('alice.jpg');
}
