cat my_styles.scss
/* My style */
body {
    .container {
        color: #3D3D3D;
    }
}
body {
  // Set default text color for elements inside body
  color: #3D3D3D;

  // Override text color for elements with class .red
  .red {
    color: #FF0000;
  }
}
